@import "variables";
@import "bootstrap/scss/bootstrap";
@import "global/Toastify";


body {
  background-color: #fff;
  color: $text-basic;
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25;
  margin: 0;
  overflow: auto;
  position: relative;
  text-align: left;
}
