/* Fix content jump with overflow: hidden */
.scrollbarFix {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}

.noScroll {
  overflow: hidden !important;
}

.overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, 25%);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 900010;
}
